.row{
  margin: 0px;
}

.Bg-Home{
  position: absolute;
  top: 0px;
  z-index: -1;
}

.Content-Home{
  height: 90vh;
}

.vh-60{
  height: 60vh !important;
}

.vh-75{
  height: 75vh !important;
}

.vh-88{
    height: 88vh !important;
}

.d-grid{
  display: grid !important;
}
