html *{
    font-family: $Roboto;
}
.row{
  margin: 0px;
}

.Bg-Home{
  position: absolute;
  top: 0px;
  z-index: -1;
}

.Content-Home{
  height: auto;
}

.vh-60{
  height: 60vh !important;
}

.vh-75{
  height: 75vh !important;
}

.vh-88{
    height: 88vh !important;
}

.d-grid{
  display: grid !important;
}
.card-img-top{
    padding: 10px;
}

.form-group.has-error .help-block{
  display: block;
}

.dropdown-custom .dropdown-toggle::after,
.dropdown-custom > a > svg{
    color: #126bdb;
    font-size: 18px;
    align-self: center;
}

.dropdown-custom > a{
    display: flex !important;
}

.bg-section{
    background-color: #fafafa;
}
